body{
  background-color: yellowgreen;
}
.no-shadows {
    box-shadow: none!important;
}
.container{
  margin-top: 2rem;
}
.tabs .tab a:hover, .tabs .tab a.active {
    color: #9acd32 !important;
}

.tabs .indicator {
    background-color: #9acd32 !important;
}
.tabs .tab a {
        color: rgba(0,0,0,0.87) !important;
        font-weight: 500;
}
.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: rgb(154, 205, 50);
    outline: none;
}
.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: rgba(154, 205, 50, 0.4) !important;
}
